
/**** https://css-tricks.com/rems-ems/  ****/
/* Document level adjustments */
html {
    font-size: 18px;
    font-weight: 200;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  b {
    font-weight: 600;
  }
  
  /* Type will scale with document */
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.25rem;
  }
   
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:focus,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
 
  hr {
    border-top: 1px solid;
  }

  button, .button {
    cursor: pointer;
  }
  
  button:disabled, .button:disabled {
    cursor:default;
  }
  
