.player-fluid {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}
.player-controls {
  background-color:var(--dark-blue);
  padding: 0.15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}
button {
  font-weight: bold;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.player-controls button {
  font-weight: bold;
  background-color:var(--dark-blue);
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 125%
}
/* button:hover {
  background-color: #f06721;
  color: black;
} */
.player-controls button:disabled {
  /* background-color: #b4e6ff; */
  color: var(--disabled-blue);
  cursor:default;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.playerPlus {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* background-color: #b4e6ff; */
  background-color:#055b83;
  /* color: black; */
}
.playerPlus h2 {
  margin: 0 0 0 .5rem;
  font-size: 1.25rem;
  font-variant: small-caps;
  display: inline;
}
.thin {
  font-weight: 100;
}
.subnav h2 {
  color: white;
}
h3 {
  margin: 1rem 0 0 0;
}
p {
  margin: .25rem 0 .75rem 0;
}
.content h1 {
  margin: 0;
}
li {
  padding: 0.5rem;
}
.menu button {
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
  margin: .25rem;
  width: 100%;
}
.voiceover {
  font-style: italic;
  color:#badbeb
}
.login {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.login button {
  grid-column: 2;
  width: 100%;
  text-align: center;
  margin: auto;
}
input {
  background-color: white;
  color: black;
  padding: 0.25rem;
}
.customItemMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.customItemButton {
  color: #fff;
  font-size: .75rem;
  text-align: center;
  background-color: #1280b1;
  color: white;
  padding: 8px;
  width: 20vw;
}
.searchLabel {
  font-size: 1rem;
  margin: -.25rem .5rem .25rem 0;
}
.searchBox {
  display: grid;
  grid-template-columns: 1fr auto;
}
.searchInput {
  font-weight: bold;
}
.searchButton {
  font-size: .75rem;
  margin-left: .5rem;
  background-color: var(--medium-orange);
}
.learnMore {
  color: var(--bright-blue);
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0 .5rem;
}
.researchForm {
  display: grid;
  grid-template-columns: auto;
}
.researchForm label {
  margin-top: 0.75rem;
  font-size: .9rem;
  font-weight: 400;
}
.researchForm input {
  font-weight: bold;
}
.researchForm textarea {
  background-color: white;
  color: black;
  padding: .25rem;
  font-weight: bold;
  resize: vertical;
  min-height: 2rem;
}
::placeholder {
  font-style: italic;
  font-weight: 100;
  font-size: 90%;
  padding: .25rem;
}
.researchForm button {
  margin: 1rem 0 0 20vw;
  width: 50vw;
  text-align: center;
  font-size: .75rem;
  background-color: var(--medium-orange);
  color: white;
}
.assemblyNote {
  margin: auto auto;
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;;
  margin-top: 1rem;

}
.searchResults .card {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: .5rem;
  padding: .25rem;
  font-weight: bold;
}
.searchResults .card {
  background-color: white;
  margin-bottom: .5rem;
}
.searchResults .card .details {
  padding: 0 .5rem;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: .5rem;
  font-weight: 100;
  font-size: .75rem;
}
.part .price {
  font-size: 2rem;
  margin: 1rem 0;
}
.customParts {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}
.customItem {
  text-align: center;
  margin: 1rem 0 2rem 0;
  color: white;
}
.customItem p {
  margin: auto auto;
  max-width: 20rem;
  text-align:justify;
}
.customItem img {
  width: 20rem;
  object-fit: cover;
}

.checkbox {
  padding: 0 .5rem .5rem 0;
  color: var(--bright-blue);
}