:root {
  --dark-blue: #055b83;
  --disabled-blue: #2e7596;
  --medium-blue: #1380b1;
  --bright-blue: #0098dd;
  --light-blue: #cee4f1;

  --dark-grey: #4a4a4a;
  --medium-grey: #72777d;

  --medium-orange: #f06721;

  --mainnav-height: clamp(24px, 3.25rem, 10vw);
}

.black-on-blue-gradient {
  color: black;
  background-color: var(--light-blue);
  background-image: linear-gradient(rgb(221, 236, 244), rgb(255, 255, 255));
}

.white-on-dark-grey {
  color: white;
  background-color: var(--dark-grey);
}
.white-on-dark-grey input {
  background-color: grey;
  font-size: 125%;
  margin: 0 .5rem 0 .5rem;
  padding: .25rem .5rem;
}

.black-on-white {
  color: black;
  background-color: white;
}

.white-on-blue {
  color: white;
  background-color: var(--medium-blue);
}

.white-on-dark-blue {
  color: white;
  background-color: var(--dark-blue);
}

.pad {
  padding: 1rem;
}

.section {
  padding: 1rem;
}

.cpc-content {
  padding: 1rem;
}

.section.search {
  background-color: var(--dark-grey);
  color: white;
}

.section.custom {
  background-color: white;
  color: black;
}

.section.research {
  background-color: var(--medium-blue);
  color: white;
}

.section.footer {
  background-color: var(--dark-blue);
  color: white;
}

.cpc-mainnav {
  background-color: #1380b1;
  color: white;
  position: relative;
  height: var(--mainnav-height);
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 1;
  /* Needed for menu to overlay page */
}

.cpc-logo {
  display: inline-block;
  background-color: black;
  height: 100%;
  text-align: top;
  font-family: system-ui, sans-serif;
  cursor: pointer;
}
.cpc-logo * {
    box-sizing: unset;
}

.cpc-logo-front {
  display: inline;
  height: calc(var(--mainnav-height) * 0.75);
  padding: calc(var(--mainnav-height) * 0.125);
  padding-right: 0;
}

.cpc-logo-back {
  display: inline;
  height: var(--mainnav-height);
  position: relative;
  top: -1px;
  left: -1px;
  /* fixes bug on iOS */
  box-sizing:content-box;
}

.cpc-appname {
  display: inline-block;
  position: relative;
  background-color: black;
  font-size: calc(var(--mainnav-height) * 0.375);
  font-weight: 100;
  top: calc(var(--mainnav-height) * -0.375);
  padding-right: 0.5rem;
}
.cpc-company {
  display: inline-block;
  font-weight: bold;
  padding-right: 0.25rem;
}

.cpc-burger {
  margin-top: calc(var(--mainnav-height) * 0.2);
  height: calc(var(--mainnav-height) * 0.625);
  width: calc(var(--mainnav-height) * 0.625);
  float: right;
  padding: 0px;
  margin-left: 0px;
  margin-right: calc(var(--mainnav-height) * 0.2);
  cursor: pointer;
}

.cpc-mainmenu {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: right;
  top: calc(var(--mainnav-height) - 1px);
  /* hides thin line on iOS */
  right: 0;
  opacity: 1;
  min-width: 10rem;
  max-width: 50%;
  background-color: var(--medium-blue);
  color: white;
  border-radius: 0 0 0 1rem;
  max-height: 1000px;
  font-size: 1.25rem;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  /* transition: 0.5s ease-in-out; */
}

.cpc-mainmenu.hide {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  opacity: 0;
}

.cpc-mainmenu ul {
  margin: 0;
  padding: 0 .25rem .5rem 0.25rem;
  list-style: none;
  overflow: none;
}

.cpc-mainmenu li {
  padding: 8px 12px;
}

.cpc-mainmenu .selectable:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.cpc-mainmenu a {
  text-decoration: none;
  color: unset !important;
  background-color: unset !important;
}

.cpc-mainnav button {
  background-color: unset;
  float: right;
  font-size: 125%;
  margin: 0;
}

.cpc-mainnav .overlay {
  background-color: var(--medium-orange);
  border-color: white;
  margin: 0;
  padding: 0;
  color: white;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  float: right;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  position: relative;
  left: -1.5rem;
  top: -.25rem;
  opacity: 0;
}

.cpc-mainnav .overlay.show {
  opacity: 1;
}

.cpc-mainnav .button {
  position: relative;
  display: inline-block;
  top: -.75rem;
  left: 2rem;
  cursor: pointer;
}
/****** BEGIN Unused Stuff
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
******* END Unuser Stuff */
html,
body {
  height: 100%;
  margin: 0;
}
.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}
header {
  flex: 0 1 auto;  
}
main {
  flex: 1 1 auto;
}
footer {
  flex: 0 1 auto; 
  background-color: black;
  color: white;
  text-align: right;
  font-size: 75%;
  padding: .5rem;
}