
:root {
    --cpc-medium-blue: #0098dd;
    --cpc-dark-blue: #1380b1;
    --cpc-light-blue: #cee4f1;
    --cpc-mainnav-height: 3.25rem;
}
.cpc-mainnav {
    height: var(--cpc-mainnav-height);
    width: 100%;
}
.cpc-logo {
    display:inline-block;
    background-color: black;
    height: 100%;
    text-align: top;
}
.cpc-logo-front {
    display:inline;
    height: calc(var(--cpc-mainnav-height) * 0.75);
    padding: calc(var(--cpc-mainnav-height) * 0.125);
}
.cpc-logo-back {
    display:inline;
    height: var(--cpc-mainnav-height);
}

.cpc-appname {
    display:inline-block;
    position:relative;
    background-color: black;
    font-size: calc(var(--cpc-mainnav-height) * 0.375);
    font-weight: 100;
    top: calc(var(--cpc-mainnav-height) * -0.375);
    padding-right: 0.5rem;
}
.cpc-company {
    display:inline-block;
    font-weight: bold;
    padding-right: 0.25rem;
}